<form id= "searchForm" action= "/result" method= "post">
    <legend>Zoeken</legend>
    <div id="hobbyList">
    <label>Zoek op hobby: </label>
    <input id="textinput" name=hobby1>
    </div>
    <button type="submit">Zoek Matches!</button>
</form>


