<div><img src="../../static/images/amatch-logo2.png" alt=""></div>
<nav>
    <ul>
        <li class="animatedLink"><a href="myprofile.html">My Profile</a></li>
        <li class="animatedLink"><a href="mychats.html">My Chats</a></li>
        <li class="animatedLink"><a href="index.html">Matchmaking</a></li>
    </ul>
</nav>