<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <form action= "/details" method= "post">
            <label>Remove _id: <input name=id></label>
            <button>Remove</button>
        </form>
    </body>
</html>