<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <form action= "/details" method= "post">
            <label>Id of the object you want to change: <input name=id></label>
            <label>Name: <input name=name></label>
            <!-- <label>New name: <input name=name></label> -->
            <button>Update</button>
        </form>
    </body>
</html>