
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <form action= "/details" method= "post">
            <label>Naam: <input name=name></label>
            <label>Email: <input name=email></label>
            <label>Leeftijd: <input name=age></label>
            <label>
                Hobby: <textarea name=hobby rows=2></textarea>
            </label>
            <button>Add</button>
        </form>
    </body>
</html>