<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <!-- <%- include('../partials/add') %> -->
        <%- include('../partials/details') %>
    </body>
</html>