<html>

<head>
    <%- include('../partials/head') %>
</head>
<header>
    <%- include('../partials/header') %>
</header>

<body>
    <main>
        <div id="filterBar">
            <a href="">Remove Filter</a>
        </div>
        <div id="matchList">
            <%- include('../partials/details') %>
        </div>
    </main>
</body>
<footer>
    <section>
        <p>Indeling en Styling door Merlijn Bergevoet 2020 &copy;</p>
    </section>
</footer>

</html>