<html>

<head>
    <%- include('../partials/head') %>
</head>
<header>
    <%- include('../partials/header') %>
</header>

<body>
    <main>
        <div id="filterBar">
            <h1>Filter verwijderd!<h1>
            <a href="main.ejs">Terug naar de zoekpagina </a>
        </div>
        <div id="matchList">
           
        </div>
    </main>
</body>
<footer>
    <section>
        <p>Indeling en Styling door Merlijn Bergevoet 2020 &copy;</p>
    </section>
</footer>

</html>