<html>

<head>
    <%- include('../partials/head') %>
</head>
<header>
    <%- include('../partials/header') %>
</header>

<body>
    <main>
        <div id="filterBar">
            <a href="/return">Verwijder Filter</a>
            <p>Filter hobby is geselecteerd</p>
        </div>
        <a id="updateknop" href="/update">Verander een naam</a>
        <div id="matchList">
            <%- include('../partials/details') %>
        </div>
    </main>
</body>
<footer>
    <section>
        <p>Indeling en Styling door Merlijn Bergevoet 2020 &copy;</p>
    </section>
</footer>

</html>